workflows/radassist-master.json
{
  "name": "RadAssist — Master Workflow v2",
  "nodes": [
    {
      "id": "b1000001-0001-4000-8000-000000000001",
      "name": "Master Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [-200, 400],
      "webhookId": "radiology-webhook",
      "parameters": {
        "httpMethod": "POST",
        "path": "radiology",
        "responseMode": "responseNode",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "typeVersion": 2
    },
    {
      "id": "b1000001-0060-4000-8000-000000000001",
      "name": "Check for Image",
      "type": "n8n-nodes-base.if",
      "position": [100, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "img-check-1",
              "leftValue": "={{ $json.body.type }}",
              "rightValue": "image_analysis",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "typeVersion": 2.2
    },
    {
      "id": "b1000001-0060-4000-8000-000000000002",
      "name": "GPT-4o Vision Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "position": [500, 0],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o', max_tokens: 2500, messages: [{ role: 'system', content: 'You are RadAssist, an expert AI radiology assistant. Analyze the provided medical image systematically:\\n1. Identify the type of imaging study and projection/view\\n2. Assess image quality and technical limitations\\n3. Systematically describe all visible anatomical structures\\n4. Identify abnormal findings\\n5. Provide differential diagnoses for abnormalities\\n6. Suggest clinical correlation and follow-up\\n\\nRespond ONLY with a valid JSON object (no markdown, no code fences):\\n{\\n  \"report\": \"EXAM: [modality] [body part]\\\\n\\\\nTECHNIQUE: [view/projection]\\\\n\\\\nFINDINGS:\\\\n[systematic description]\\\\n\\\\nIMPRESSION:\\\\n[numbered key findings]\",\\n  \"findings\": [\"Finding 1\", \"Finding 2\"],\\n  \"impression\": \"Summary of most important findings\",\\n  \"recommendations\": \"Suggested follow-up or clinical correlation\"\\n}\\n\\nDISCLAIMER: This is an AI-assisted analysis for educational purposes only. All findings must be verified by a qualified radiologist.' }, { role: 'user', content: [{ type: 'text', text: 'Analyze this ' + ($json.body.modality || 'X-ray') + ' image of ' + ($json.body.body_part || 'unknown region') + '. Clinical context: ' + ($json.body.clinical_context || 'None provided') }, { type: 'image_url', image_url: { url: $json.body.image, detail: 'high' } }] }] }) }}",
        "options": {
          "timeout": 60000
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "b1000001-0060-4000-8000-000000000003",
      "name": "Format Image Response",
      "type": "n8n-nodes-base.code",
      "position": [900, 0],
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '';\n\ntry {\n  const jsonMatch = content.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    return [{\n      json: {\n        type: 'image_analysis',\n        report: parsed.report || content,\n        findings: parsed.findings || [],\n        impression: parsed.impression || '',\n        recommendations: parsed.recommendations || ''\n      }\n    }];\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    type: 'image_analysis',\n    report: content,\n    findings: [],\n    impression: '',\n    recommendations: ''\n  }\n}];"
      },
      "typeVersion": 2
    },

    {
      "id": "b1000001-0002-4000-8000-000000000001",
      "name": "Route Request",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [400, 400],
      "parameters": {
        "inputText": "={{ $json.body.message || $json.body.query || $json.body.term || '' }}",
        "categories": {
          "categories": [
            {
              "category": "Radiology Chat",
              "description": "User is asking a medical or radiology question, seeking information about imaging findings, pathologies, differentials, clinical conditions, or looking up a specific radiology or medical term. Includes questions, search queries, simple term lookups, and clinical correlation requests."
            },
            {
              "category": "Report Generation",
              "description": "User explicitly wants to generate, create, or write a structured radiology report. They provide specific imaging findings, modality, body part, and/or clinical history. The request is specifically about producing a formatted medical report document."
            }
          ]
        },
        "options": {
          "fallback": "other"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b1000001-0002-4000-8000-000000000002",
      "name": "Classifier Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [340, 640],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },

    {
      "id": "c2000001-0001-4000-8000-000000000001",
      "name": "Chat Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [800, 200],
      "parameters": {
        "promptType": "define",
        "text": "=Radiology question: {{ $json.body.message || $json.body.query || $json.body.term }}\n\nFilters:\n- Modality: {{ $json.body.modality || 'all' }}\n- Body System: {{ $json.body.system || 'all' }}\n\nStep 1: Search the Radiology Knowledge Base (Pinecone) for curated, precise information.\nStep 2: If the knowledge base provides limited or incomplete information, use Perplexity Web Search to find additional context, latest research, or verification.\nStep 3: Synthesize both sources into a comprehensive response. Always prioritize Pinecone data as the primary source.",
        "options": {
          "systemMessage": "You are RadAssist, an expert AI radiology assistant.\n\nDATA SOURCE PRIORITY:\n1. PRIMARY: Always search the Radiology Knowledge Base (Pinecone) FIRST. This contains curated, verified radiology data (3,281 documents).\n2. SUPPLEMENTARY: Use Perplexity Web Search ONLY when:\n   - The knowledge base has limited information on the topic\n   - You need to verify or cross-reference findings\n   - The user asks about very recent research or guidelines\n   - Additional clinical context would be valuable\n\nRESPONSE FORMAT - Your response MUST be a valid JSON object (no markdown, no code fences):\n{\n  \"keywords\": [\"relevant\", \"radiology\", \"terms\"],\n  \"findings\": \"Detailed description of key imaging findings\",\n  \"differentials\": [\"Most likely diagnosis\", \"Second most likely\", \"Third\"],\n  \"report_suggestion\": \"Suggested radiology report language\",\n  \"sources\": \"pinecone\" or \"pinecone+perplexity\"\n}\n\nGuidelines:\n- Keywords: 3-8 relevant radiology terms\n- Findings: describe imaging characteristics, patterns, and clinical significance\n- Differentials: ordered by likelihood, include 3-6 options\n- Report suggestion: use RSNA-style radiology language\n- Sources: indicate which data sources contributed to the response\n- ONLY output the raw JSON object, nothing else"
        }
      },
      "typeVersion": 1.9
    },
    {
      "id": "c2000001-0001-4000-8000-000000000002",
      "name": "GPT-4o (Chat)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [700, 460],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "c2000001-0001-4000-8000-000000000003",
      "name": "Chat Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [920, 460],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "radiology_knowledge_base",
        "toolDescription": "PRIMARY data source. Search the curated radiology knowledge base containing 3,281 documents of medical imaging information, pathology descriptions, anatomy references, report templates, and clinical guidelines. Always search this FIRST before using other tools.",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "radiology-assistant",
          "cachedResultName": "radiology-assistant"
        },
        "topK": 8,
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "c2000001-0001-4000-8000-000000000004",
      "name": "Chat Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [920, 680],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "c2000001-0001-4000-8000-000000000005",
      "name": "Perplexity Search (Chat)",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [1140, 460],
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a medical research assistant. Search for the latest peer-reviewed radiology and medical imaging information. Provide evidence-based, clinically accurate responses with citations when available.",
              "role": "system"
            },
            {
              "content": "={{ $fromAI('query', 'The radiology search query for supplementary information') }}",
              "role": "user"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c2000001-0001-4000-8000-000000000006",
      "name": "Format Chat Response",
      "type": "n8n-nodes-base.code",
      "position": [1200, 200],
      "parameters": {
        "jsCode": "const output = $input.first().json.output || $input.first().json.text || '';\n\ntry {\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    return [{\n      json: {\n        type: 'chat',\n        keywords: parsed.keywords || [],\n        findings: parsed.findings || '',\n        differentials: parsed.differentials || [],\n        report_suggestion: parsed.report_suggestion || '',\n        sources: parsed.sources || 'pinecone'\n      }\n    }];\n  }\n} catch (e) {}\n\nreturn [{\n  json: {\n    type: 'chat',\n    keywords: [],\n    findings: output,\n    differentials: [],\n    report_suggestion: '',\n    sources: 'pinecone'\n  }\n}];"
      },
      "typeVersion": 2
    },

    {
      "id": "b1000001-0020-4000-8000-000000000001",
      "name": "Report Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [800, 600],
      "parameters": {
        "promptType": "define",
        "text": "=Generate a structured radiology report:\n\nModality: {{ $json.body.modality || 'X-ray' }}\nBody Part: {{ $json.body.body_part || 'Chest' }}\nClinical History: {{ $json.body.clinical_history || 'Not provided' }}\n\nFindings:\n{{ $json.body.findings ? $json.body.findings.join('\\n- ') : $json.body.message || 'None specified' }}\n\nStep 1: Search the Radiology Knowledge Base for report templates and medical context.\nStep 2: If needed, use Perplexity to verify clinical accuracy or find additional relevant guidelines.\nStep 3: Generate the complete report prioritizing curated knowledge base data.",
        "options": {
          "systemMessage": "You are RadAssist Report Generator. Generate professional, structured radiology reports following RSNA standards.\n\nDATA SOURCE PRIORITY:\n1. PRIMARY: Always search the Report Knowledge Base (Pinecone) FIRST for templates and clinical data.\n2. SUPPLEMENTARY: Use Perplexity Web Search ONLY when additional clinical accuracy verification is needed or for latest reporting guidelines.\n\nYour response MUST be a valid JSON object (no markdown, no code fences, just raw JSON):\n{\n  \"report\": \"EXAM: [Modality] [Body Part]\\n\\nCLINICAL INDICATION: [History]\\n\\nTECHNIQUE: [Technique]\\n\\nCOMPARISON: None available.\\n\\nFINDINGS:\\n[Organized by structure]\\n\\nIMPRESSION:\\n1. [Key finding]\\n2. [Secondary finding]\"\n}\n\nGuidelines:\n- Use standard radiology terminology\n- Be systematic and thorough\n- Prioritize urgent findings\n- Include follow-up recommendations when appropriate\n- ONLY output the raw JSON object"
        }
      },
      "typeVersion": 1.9
    },
    {
      "id": "b1000001-0020-4000-8000-000000000002",
      "name": "GPT-4o (Report)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [700, 860],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "b1000001-0020-4000-8000-000000000003",
      "name": "Report Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [920, 860],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "report_knowledge_base",
        "toolDescription": "PRIMARY data source. Search the radiology knowledge base for report templates, standard findings descriptions, and clinical guidelines for the given modality and body part. Always search this FIRST.",
        "pineconeIndex": {
          "__rl": true,
          "mode": "list",
          "value": "radiology-assistant",
          "cachedResultName": "radiology-assistant"
        },
        "topK": 6,
        "options": {}
      },
      "typeVersion": 1.3
    },
    {
      "id": "b1000001-0020-4000-8000-000000000004",
      "name": "Report Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [920, 1080],
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "typeVersion": 1.2
    },
    {
      "id": "c2000001-0002-4000-8000-000000000005",
      "name": "Perplexity Search (Report)",
      "type": "n8n-nodes-base.perplexityTool",
      "position": [1140, 860],
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a medical reporting assistant. Search for radiology report guidelines, RSNA standards, and clinical best practices for report writing.",
              "role": "system"
            },
            {
              "content": "={{ $fromAI('query', 'The search query for report generation context') }}",
              "role": "user"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "b1000001-0020-4000-8000-000000000005",
      "name": "Format Report Response",
      "type": "n8n-nodes-base.code",
      "position": [1200, 600],
      "parameters": {
        "jsCode": "const output = $input.first().json.output || $input.first().json.text || '';\n\ntry {\n  const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    return [{ json: { type: 'report', report: parsed.report || output } }];\n  }\n} catch (e) {}\n\nreturn [{ json: { type: 'report', report: output } }];"
      },
      "typeVersion": 2
    },

    {
      "id": "b1000001-0040-4000-8000-000000000001",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.code",
      "position": [800, 1100],
      "parameters": {
        "jsCode": "return [{\n  json: {\n    type: 'error',\n    message: 'Your request could not be classified. Please try rephrasing as a radiology question, report request, or term lookup.',\n    received: $input.first().json.body?.message || $input.first().json.body?.query || $input.first().json.body?.term || ''\n  }\n}];"
      },
      "typeVersion": 2
    },

    {
      "id": "b1000001-0050-4000-8000-000000000001",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [1600, 500],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "typeVersion": 1.5
    },

    {
      "id": "b1000001-9001-4000-8000-000000000001",
      "name": "RadAssist Overview",
      "type": "n8n-nodes-base.stickyNote",
      "position": [-500, -100],
      "parameters": {
        "width": 420,
        "height": 620,
        "content": "## RadAssist v2 — Unified Master Workflow\n\n**Single Endpoint Architecture**\nPOST /webhook/radiology\n\n### Flow:\n1. Master Webhook receives ALL requests\n2. IF check: image present? → GPT-4o Vision\n3. Else: Text Classifier routes to branch\n4. Single Send Response returns result\n\n### 3 Branches:\n- **Image Analysis** → GPT-4o Vision (HTTP Request)\n- **Chat** → Unified AI Agent (Pinecone PRIMARY + Perplexity SUPPLEMENTARY)\n- **Report** → Report AI Agent (Pinecone PRIMARY + Perplexity SUPPLEMENTARY)\n- **Fallback** → Error message\n\n### Data Sources:\n- Pinecone: 3,281 curated radiology vectors (PRIMARY)\n- Perplexity sonar-pro: External web search (SUPPLEMENTARY)\n\n### Request Body:\n{ message, type?, image?, modality?, system?, findings?, body_part?, term?, clinical_context? }\n\n### Setup:\n1. Add OpenAI credentials\n2. Add Pinecone credentials\n3. Add Perplexity credentials\n4. Activate workflow"
      },
      "typeVersion": 1
    },
    {
      "id": "b1000001-9002-4000-8000-000000000001",
      "name": "Classifier",
      "type": "n8n-nodes-base.stickyNote",
      "position": [200, 300],
      "parameters": {
        "width": 360,
        "height": 420,
        "content": "### Text Classifier\nGPT-4o-mini classifies incoming message:\n- Output 0: Radiology Chat (queries + lookups)\n- Output 1: Report Generation\n- Output 2: Other (fallback)"
      },
      "typeVersion": 1
    },
    {
      "id": "b1000001-9006-4000-8000-000000000001",
      "name": "Image Analysis Branch",
      "type": "n8n-nodes-base.stickyNote",
      "position": [320, -120],
      "parameters": {
        "width": 700,
        "height": 200,
        "content": "### Branch 0: Image Analysis (GPT-4o Vision)\nHTTP Request to OpenAI Chat Completions with image_url\nReturns: { type, report, findings, impression, recommendations }"
      },
      "typeVersion": 1
    },
    {
      "id": "c2000001-9003-4000-8000-000000000001",
      "name": "Chat Branch",
      "type": "n8n-nodes-base.stickyNote",
      "position": [620, 100],
      "parameters": {
        "width": 700,
        "height": 640,
        "content": "### Branch 1: Radiology Chat (Unified)\nAI Agent with dual data sources:\n- Pinecone (PRIMARY) — curated 3,281 vectors\n- Perplexity sonar-pro (SUPPLEMENTARY) — external verification\nReturns: { type, keywords, findings, differentials, report_suggestion, sources }"
      },
      "typeVersion": 1
    },
    {
      "id": "b1000001-9004-4000-8000-000000000001",
      "name": "Report Branch",
      "type": "n8n-nodes-base.stickyNote",
      "position": [620, 500],
      "parameters": {
        "width": 700,
        "height": 640,
        "content": "### Branch 2: Report Generator\nAI Agent with dual data sources:\n- Pinecone (PRIMARY) — report templates & clinical data\n- Perplexity sonar-pro (SUPPLEMENTARY) — accuracy verification\nReturns: { type, report }"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Master Webhook": {
      "main": [
        [
          {
            "node": "Check for Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Image": {
      "main": [
        [
          {
            "node": "GPT-4o Vision Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Vision Analysis": {
      "main": [
        [
          {
            "node": "Format Image Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Image Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier Model": {
      "ai_languageModel": [
        [
          {
            "node": "Route Request",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Route Request": {
      "main": [
        [
          {
            "node": "Chat Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Report Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "GPT-4o (Chat)": {
      "ai_languageModel": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Chat Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Search (Chat)": {
      "ai_tool": [
        [
          {
            "node": "Chat Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Agent": {
      "main": [
        [
          {
            "node": "Format Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "GPT-4o (Report)": {
      "ai_languageModel": [
        [
          {
            "node": "Report Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Report Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Report Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Report Knowledge Base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Search (Report)": {
      "ai_tool": [
        [
          {
            "node": "Report Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Report Agent": {
      "main": [
        [
          {
            "node": "Format Report Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },

    "Format Error Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}